<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <context:property-placeholder location="classpath:MusicPlayer.properties" />

    <bean name="ClassicalBean"
          class="org.com.some.genreMusic.ClassicalMusic">
    </bean>
    <bean name="RockBean"
          class="org.com.some.genreMusic.RockMusic">
    </bean>
    <bean name="JazzBean"
          class="org.com.some.genreMusic.JazzMusic">
    </bean>

        <bean id="musicPlayer"
              class="org.com.some.MusicPlayer"
              scope = "prototype">
            <property name="musicList">
                <list>
                    <ref bean="ClassicalBean"/>
                    <ref bean="RockBean"/>
                    <ref bean="JazzBean"/>
                </list>
            </property>

            <property name="name" value="${MusicPlayer.name}"/>
            <property name="volume" value="${MusicPlayer.volume}"/>
        </bean>
</beans>